body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formElem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
}

.formElem__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border: 2px dotted gray;
    padding: 5px;
}

.download {
    display: none;
}

